<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oral Cancer Detection</title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'contact1.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
<body >
<div class="dg">
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Oral Cancer Detection</a>
      </div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
  </nav>
     <section class="game2"><br><br>
            <h3>Our <span>Guide</span></h3>
            <center><div class="box2">
                <h3>K.Praveen Kumar</h3>
                <p>Asst Proff</p>
                <h6>CSE Department</h6>
            </div></center>
        </section>
        <section class="game">
            <h3>WE <span>TEAM</span></h3>
        <div class="contact1">
            <div class="box">
                <p></p>
                <h3>Purneswari.M</h3>
                <span>20A81A0634</span>
                <div class="share">
                    <a href="#" class="fa fa-github" style="font-size:20px"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:20px"></a>
                </div>
            </div>
            <div class="box">
                <p></p>
                <h3>Spandhana.K</h3>
                <span>20A81A0627</span>
                <div class="share" >
                    <a href="#" class="fa fa-github" style="font-size:20px"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:20px"></a>
                </div>
            </div>
            <div class="box">
                <p></p>
                <h3>&nbsp;&nbsp;&nbsp;Pushpa.K&nbsp;&nbsp;&nbsp;</h3>
                <span>20A81A0626</span>
                <div class="share">
                    <a href="#" class="fa fa-github" style="font-size:20px"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:20px"></a>
                </div>
            </div>
            <div class="box">
                <p></p>
                <h3>Sampoorna.N</h3>
                <span>20A81A0635</span>
                <div class="share">
                    <a href="#" class="fa fa-github" style="font-size:20px"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:20px"></a>
                </div>
            </div>
	    <div class="box">
                <p></p>
                <h3>Prasanna.E</h3>
                <span>20A81A0614</span>
                <div class="share">
                    <a href="#" class="fa fa-github" style="font-size:20px"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:20px"></a>              
		</div>
            </div>
	    <div class="box">
                <p></p>
                <h3>&nbsp;&nbsp;&nbsp;Sirisha.T&nbsp;&nbsp;&nbsp;</h3>
                <span>20A81A0656</span>
                <div class="share">
                    <a href="#" class="fa fa-github" style="font-size:20px"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:20px"></a>
                </div>
            </div><br><br>
		<p><i class="fa-regular fa-face-smile"></i>Thank You for visiting our site</p>
        </div>

        </section>
    
</body>
</html>